Package: com.michaelmelita1.11cam14
Version: 0.0.13 TEST
Architecture: iphoneos-arm
Maintainer: Michael Melita
Depends: mobilesubstrate, firmware (>= 14.0)
Section: Tweaks
Description: iPhone 11 Camera
Author: Michael Melita
Name: 11Cam14
Depiction: https://michaelmelita1.github.io/depictions/?p=com.michaelmelita1.11cam14
Sileodepiction: https://michaelmelita1.github.io/sileodepictions/com.michaelmelita1.11cam14/info.json
